.bodyc
{
    font-family: 'Hans';
    src: url('../font/HANS_KENDRICK/HansKendrick-Regular.otf');
    background-color:#212427;
    color: white;
}
.titrec
{
    color: white;
    font-size: 18px;
    position: absolute;
    top: 100px;
    left: 500px;
}

.circle_11 { 
	position: relative;
    top: 250px;
    right: 100px;
	margin: auto;
	width: 30px; 
	height: 30px;
	background: #505355 ; 
	border-radius: 50px;
    visibility: hidden;
}
.circle_12 { 
	position: absolute;
    top: 450px;
    left: 700px;
	margin: auto;
	width: 30px; 
	height: 30px;
	background: #505355 ; 
	border-radius: 50px;
}
.circle_13 { 
	position: absolute;
    top: 350px;
    left: 400px;
	margin: auto;
	width: 30px; 
	height: 30px;
	background: #505355 ; 
	border-radius: 50px;
}

.circle_11:hover { 
	background:red;
    display: block;
}


.circle_12:hover { 
	background: red;
    display: block;
}

.circle_13:hover { 
	background: red;
    display: block;
}

.circle_14 { 
	position: relative;
    top: 200px;
    right: 500px;
	margin: auto;
	width: 50px; 
	height: 50px;
	background: #505355 ; 
	border-radius: 50px; 
}

.circle_14:hover { 
	background: red;
    display: block;
}

.circle_15 { 
	position: absolute;
    top: 500px;
    left: 300px;
	margin: auto;
	width: 75px; 
	height: 75px;
	background: #505355 ; 
	border-radius: 50px; 
}

.circle_15:hover { 
	background: red;
    display: block;
}
.circle_16 { 
	position: absolute;
    top: 200px;
    left: 800px;
	margin: auto;
	width: 50px; 
	height: 50px;
	background: #505355 ; 
	border-radius: 50px; 
}

.circle_16:hover { 
	background: red;
    display: block;
}

.circle_17 { 
	position: absolute;
    top: 600px;
    left: 800px;
	margin: auto;
	width: 75px; 
	height: 75px;
	background: #505355 ; 
	border-radius: 50px; 
}

.circle_17:hover { 
	background: red;
    display: block;
}

.imglegende
{
    position: absolute;
    top: 200px;
    right: 100px;
    width: 300px;
    height: 300px;
}

#info4
{
    position: relative;
    left: 80px;
}
#info1
{
    position: relative;
    left: 80px;
}
#info2
{
    position: relative;
    left: 80px;
}
#info3
{
    position: relative;
    left: 80px;
}
#info5
{
    position: relative;
    left: 80px;
}
#info6
{
    position: relative;
    left: 80px;
}
#info7
{
    position: relative;
    left: 80px;
}