/** GLOBAL **/

* {
  font-family: 'Hans';
  font-weight: normal;
  font-style: normal;
	margin:0;
	padding:0;
}

@font-face {
    font-family: 'Hans';
    src: url('../font/HANS_KENDRICK/HansKendrick-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

/** CONFIG SLIDES **/
.section {
    /*display: flex;*/
    color: white;
    text-align: justify;
}

.section h1 { 
  display: block;
  font-size: 200%;
}

#slide5 {
	/*position: absolute;*/
	width: 100%;
	height: 100%;
    background-color: #404345;
}


/** SLIDE 5 **/

#slide5 h1{
  font-size: 150%;
}

/*partie gauche*/

#partie_gauche{
  display: inline-block;
  position: relative;
  width: 65%;
  padding-left:5%;
  padding-right:5%;
  vertical-align: top;
  /*margin-top: 30%;*/
}

#titre_gauche{
	position: absolute; 
	bottom: 80%; 
	top: 5%; 
	font-size: 2em;
}

#graph_gauche{
	display: flex;
	margin-top:45%;
}

.circle{
	position: relative;
}

.circle div{
	position: absolute;
	top: -200px;
	width:300px;
	height:50px;
}

.circle_1 { 
	position: relative;
	margin: auto;
	width: 25px; 
	height: 25px;
	/*background: #505355 ;*/
	border: 1px solid white;
	border-radius: 50px;
}

.circle_1:hover { 
	background: #FFFFFF;
}

.circle_1:hover, #c1 { 
	background: #FFFFFF;
}

.circle_2 { 
	position: relative;
	margin: auto;
	width: 50px; 
	height: 50px;
	/*background: #505355 ;*/
	border: 1px solid white;	
	border-radius: 50px; 
}

.circle_2:hover { 
	background: #595D60;
}

.circle_3 { 
	position: relative;
	margin: auto;
	width: 75px; 
	height: 75px;
	/*background: #505355 ; */
	border: 1px solid white;
	border-radius: 50px; 
}

.circle_3:hover { 
	background: #353A3D;
}

.circle_4 { 
	position: relative;
	margin: auto;
	width: 100px; 
	height: 100px;
	/*background: #505355 ; */
	border: 1px solid white;
	border-radius: 50px; 
}

.circle_4:hover { 
	background: #1B1E20;
}

#img_fleche{
	position: relative;
	width:100%;
	height:100%;
	padding-top: 5%;
}

/*partie droite*/

#partie_droite{
  display: inline-block;
  position: relative;
  width: 20%;
  vertical-align: top;
 }
 

#bloc3{
	padding-top: 20%;
	padding-left: 5%;
	padding-right:5%;
	right: 10%;
}

#bloc4{
	padding-top: 20%;
	padding-left: 5%;
	padding-right:5%;
	right: 10%;
	font-weight: bold;
	font-size: 1.5em;
}

#img_legende{
	height:auto;
	width:100%;
	padding-top: 30%;	
	/*padding-left: 10%;
	padding-right: 5%; */
}
