/** GLOBAL **/

* {
  font-family: 'Hans';
  font-weight: normal;
  font-style: normal;
	margin:0;
	padding:0;
}

@font-face {
    font-family: 'Hans';
    src: url('../font/HANS_KENDRICK/HansKendrick-Regular.otf');
    font-weight: normal;
    font-style: normal;
}


/** CONFIG SLIDES **/

.section {
    color: white;
    text-align: justify;
}


.section h1 { 
  display: block;
  font-size: 200%;
}

/*
#footer{
	width: 100%;
	height: 100%;
    background-color: #A3A5A7;
}

*/


/** FOOTER **/


#remerciementsText{
	position: absolute;
	margin-top:1%;
	padding-left:33%;
}

@media only screen and (max-width: 845px){
	#remerciementsText{
		font-size:1.4vmin;
	}
}

#remerciements{
	position: relative;
	padding-top:5%;
}

#coeur{
	position: absolute;
	margin-top:5%;
}

#partenaires{

	position: absolute;
	margin-top:5%;
}

@media only screen and (max-width: 845px){
	#remerciements, #coeur, #partenaires{
		font-size:2vmin;
	}
}

.photo{
	position: relative;
	height: 11vmin;
	width: 11vmin;
	border-radius: 50%;
	padding-top: 3%;
}

.photo-name{
	position: absolute;
	font-size: 2.5vmin;
	width: 11vmin;
	height: 5vmin;
	text-align: center;
	margin-top: 8%;
}

@media only screen and (max-width: 1150px){
	.photo{
		height:8vmin;
		width: 8vmin;
	}

	.photo-name{
		font-size: 1.9vmin;
		width: 8vmin;
	}
}

@media only screen and (max-width: 900px){
	.photo{
		height:6vmin;
		width: 6vmin;
	}

	.photo-name{
		bottom:25%;
		font-size: 1.6vmin;
		width: 6vmin;
	}
}

#thomas, #thomas-txt{
	left: 7%;
}

#julie{
	Left:15%;
}

#julie-txt{
	Left:20.5%;
}

#alizee{
	Left:23%;
}

#alizee-txt{
	Left:34%
}

#sandra{
	Left:31%;
}

#sandra-txt{
	Left:47.5%
}

#yumiao{
	Left:39%;
}

#yumiao-txt{
	Left:61.5%
}

#domitie{
	Left:47%;
}

#domitie-txt{
	Left:75%
}

#yinuo{
	Left:55%;
}

#yinuo-txt{
	Left:88.5%
}



.logo{
	position: relative;
	height: 5%;
	width: auto;
	/*border: 1px #333 solid;*/
	padding-top:3%;
}

@media only screen and (max-width: 1150px){
	.logo{
		height:3%;
		width: auto;
	}
}

@media only screen and (max-width: 900px){
	.logo{
		height:2%;
		width: auto;
	}
}


#hyblab{
	left:27%;
}

#ouestmedia{
	left:35%;
}

#design{
	left:43%;
}

#univ-nantes{
	Left:51%;
}

#popo{
	Left:59%;
}

#rue89{
	Left:67%;
}